version: '3.8'

services:
  db:
    image: postgres:14
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - appnet

  web:
    build: .
    command: gunicorn mount_everest_summit.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/staticfiles  # Mount static files so Nginx can access
    depends_on:
      - db
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    ports:
      - "8080:8000"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles  # Nginx reads static files here
    depends_on:
      - web
    networks:
      - appnet

volumes:
  db_data:
  static_volume:

networks:
  appnet:
    driver: bridge
